
@include breakpoint(phone) {
		//background: white;

/*-------- header/navigation ------------*/

	#header {
		float: none;
		display: inline-block;
		width: 420/1000 *100%;

		h1 {
			float: none;
		}

			nav {
				background-color: white;
				float: none;
				border-radius: 5px;
				width: 100%;

				ul {


					li {
						float: none;
						padding: .5em 1em;
						text-align: center;
						border-right: none;
						border-bottom: solid .5px black;
					
						

						a {
							display: block;
							text-align: center;
							font-size: 1.2em;

						}
					}//li
				}//ul

			}//nav

		}// end of #header 


	li.menu-item {
	border-right: solid 1px black;
}


	} // end of @media(phone) for navigation
	
	
	
	
	/*-------- COLUMN CONENT ------------*/
@include breakpoint(phone) {
	.thumbnail-container {
		width: 420/1000 *100%;
		//@include clearfix;

		.thumbnail-row:after{
			width: 100%;
			@include clearfix;
			

			.column-12{
				width: 100%;
				float: left;
			}


			.column-3{
				width: 100%;
				float: left;

				img{
					width: 100%;
				}
			}

			.column-6 {
				width: 100%;
				float: none;
				margin-top: 4%;

				
			}//.column-6


		} //.thumbnail-row
	} //. thumbnail-container

	
} // end of @media(phone) for navigation


/*----- original nav before mobile menu----*/

#header {
	margin-bottom: 20px;
	@include clearfix;

	h1 {
		float: left;
		font-size: 40px;
	}

    nav {
    	float: right;

    	ul {
    		margin-top: 10px;
	
			li {
				float: left;
				//border-right: solid 1px black;

				

				/*span {
					pading-left:10px;
					//margin-left: 3px;
				}

				
				ul{
					z-index: 99;
					position: absolute;
					margin: 0;
					left: -999em;
					width: 10em;
					background-color: red;

				} */
				
				a {
					color: #3b3a36;
					text-decoration: none;
					transition: background .3s linear;
					@include border-radius(5px);
					padding: 3px;
					margin: 0px 5px;
					text-align: center;


					&:hover {
						color: white;
						background-color: #5e0231;

					}

					&:active {
						background-color: red;
					}

					
				} //a
			}// li
		} //ul
		.nav-button {
			@include breakpoint(phone){	
				display: block;
				position: absolute;
				top: 7px;
				left: 7px;
				width: 50px;
				height: 35px;
				background: url('../img/menu-icon-large.png'), -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
				background: url('../imag/menu-icon-large.png'),    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
				background: url('../img/menu-icon-large.png'),     -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
				background: url('../img/menu-icon-large.png'),      -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 21px, 100%;
				cursor: pointer;
				border: 0 none;
				border-bottom: 1px solid rgba(255,255,255,.1);
				box-shadow: 0 0 4px rgba(0,0,0,.7) inset;
				border-radius: 5px;
				z-index: 999;
				text-indent: -9999px;
			}

		}// end of .nav-button	
	}// nav
}// #header


li.menu-item {
	border-right: solid 1px black;
}

li.active a {
	background-color: #C7A693;
}


/*end of the media query */