// Variables

$primary-color: #5e0231;
$skyrocket-red: #FF0000;
$skyrocket-blue: #3724c6;


$font-stack:   Helvetica Neue, Helvetica, Arial, sans-serif;
$font-stack:   Georgia, serif;


/*--- variables for header nav -----*/
$link-color:#3b3a36;
$link-hover:#fff;
$sub-list-color: #EDE9CE;
$link-vertical-padding:15px;      //Controls Menu top & bottom padding
$link-horizontal-padding:20px;    //Contols Menu left & right padding
$menu-background:#353535;        //Control Menu Color Scheme